# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
.Python

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment files
*.env
.env.*

# FAISS and cache directories
faiss_index/
cache_index/

# SQLite DB
*.db

# Data files
data/
!data/.gitkeep

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/